################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solutions/Android UI/IMPA/.vs/IMPA/v15
